/*
	Plugin Name: Q2A Badges
	RTL Styles
*/

.badge-notify {
    padding: 1rem 2rem 1rem 0rem;
}
.badge-bronze, .badge-silver, .badge-gold {
    padding: 2px 7px 2px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	text-align: right;
}
.badge-bronze:before, .badge-silver:before, .badge-gold:before {
    margin-right: 0;
    margin-left: 5px;
}

/* Badges page */
.badge-entry-badge td:nth-child(3) {
    text-align: left;
}

/* Badge Widget */
.qa-badges-widget h2 span.svg-icon {
    margin-right: initial;
	margin-left: 0.5rem;
}

@media (max-width: 630px){
	.badge-notify {
		padding: 1rem 1rem 1rem 0rem;
	}
}